html {
    background-color: black;
    text-align: center;
}

.content {
    max-width: 960px;
    margin: 0px auto;
}

body {
    background-color: black;
    width: 1280px;
    height: 720px;
    margin: 0px auto;
    text-align: left;
}

#inputs {
    width: 75%;
    margin: 0px auto;
    text-align: left;
}

h1 {
    text-align: left;
    color: lightsteelblue;
    font-weight: 250;
}

#task {
    padding: 9px; /* This basicly adjust the dims of the input field. */
    color: darkcyan; /* Color for the text within the field. */
    border: 0px solid lightsalmon;
    border-radius: 12px; /* Determines how sharp the edges are */
    text-align: left;
}

button {
    padding: 10px;
    border: 0px;
    border-radius: 8px;
    color: darkslategray; /* Button text color. */
    font-weight: 750;
    text-transform: uppercase;
    font-size: 12px;
}

button#add{
    background-color: lightsteelblue;
}

button#clear{
    background-color: lightcoral;
}

button.remove {
    padding: 2.5px;
    margin-left: 20px;
    background-color: lightslategrey;
    opacity: 0.5;
}

button.remove:hover{
    background-color: lightseagreen;
}

ol{
    width: 75%;
    margin: 20px auto;
    text-align: center;
}

li{
    color: white;
    font-weight: 600;
    font-size: 1.3em;
    text-align: left;
}