body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

p{
    font-size: 1.1em;
    text-align: center;
}

h1, #quiz>h2, h3{
    text-align: center;
    color: darkslategrey;
}

#quiz>h2{
    margin-top: 5px;
}

h2{
    color: #555555;
    text-align: center;
}
h3{
    margin: 5px;
    text-align: right;
    font-style: italic;
}

#quiz{
    border: 0px solid black;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: lightgoldenrodyellow;
    width: 75%;
    margin: 50px auto 0 auto;
    color: #555555;
}

input{
    margin: 10px;
}

span{
    font-size: 1.1em;
}

button, input[type="submit"]{
    margin: 15px 0 10px 0;
    border-radius: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 5px 10px;
    background-color: #4f6f6f;
    color: white;
}

input[type="submit"]{
    margin: 10px auto;
    display: block;
}

button:hover, input[type="submit"]:hover{
    background-color: #738484;
}
a{
    text-decoration: none;
    color: darkslategrey;
}

form{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

input[type="text"]{
    display: block;
    width: 80%;
    margin: 5px auto;
    background-color: #f5f5f5;
}

select{
    width: 40%;
    margin: 0 auto;
    background-color: #e5e5e5
}
a:hover{
    color: #738484;
}